$blue: #a2a6b2;
$light-blue: #c1bfc2;
$very-light-blue: #cbd0d4;
$orange: #cf7b47;
$dusty: #b67f6c;
$almost-black: rgba(15, 15, 15);

.main-container {
  min-height: 100vh;
  min-width: 100vw;
  padding: 5% 5% 0 5%;
  background: {
    image: url(../..//../assets/images/bg-small.jpg);
    position: center;
    size: cover;
    attachment: fixed;
  }
}

.sorting-filtering {
  display: flex;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;

  a {
    font-weight: 700;
    color: $almost-black;
  }
}

.sort, .filter {
  width: 50%;

  label {
    padding: 5px;
    text-align: left;
    font-size: 0.85rem;

    input {
      margin-right: 3px;
    }
  }
}

.radio-buttons, .checkboxes {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border-radius: 5px;
  background: linear-gradient(180deg, transparent 15%, rgba(193,191,194,1) 75%);
}

.user-info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-bottom: 25px;
  border-top: 1px solid $dusty;
  border-bottom: 1px solid $dusty;

  fa-icon {
    margin-right: 10px;
  }
}

.no-places {
  width: 90%;
  position: absolute;
  left: 5%;
  top: 40%;
  padding: 10px;
  text-align: center;
  background-color: rgba(15,15,15,0.9);
  font-size: 0.8rem;
  color: $light-blue;
  border-radius: 5px;
  a {
    display: block;
    font-size: 1rem;
    color: $orange;
  }
  fa-icon {
    margin-right: 5px;
  }
}
