$light-blue: #c1bfc2;
$very-light-blue: #cbd0d4;
$blue: #9098a5;
$orange: #cf7b47;
$dusty: #b67f6c;
$almost-black: rgba(15, 15, 15);

.main-container {
  min-height: 100vh;
  width: 100vw;
  padding: 1.5rem 0;
  background: {
    image: url(../..//../assets/images/bg-small.jpg);
    position: 50% 40%;
    size: cover;
    attachment: fixed;
  }
}

.sorting-filtering {
  display: flex;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
  padding: {
    left: 5%;
    right: 5%;
  }

  a {
    font-weight: 700;
    color: $almost-black;
    cursor: pointer;
    &:hover {
      text-decoration: none;
      color: $dusty;
    }
  }
}

.sort, .filter {
  width: 50%;

  label {
    padding: 5px;
    text-align: left;
    font-size: 0.85rem;

    input {
      margin-right: 3px;
    }
  }
}

.radio-buttons, .checkboxes {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background: linear-gradient(180deg, transparent 15%, rgba(193,191,194,1) 75%);

  border: {
    bottom: 1px solid $dusty;
    left: 1px solid $dusty;
    right: 1px solid $dusty;
  }
}

.user-info {
  padding: 10px;
  margin-bottom: 25px;
  border-top: 1px solid $dusty;
  border-bottom: 1px solid $dusty;
  text-align: center;
  div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  fa-icon {
    margin-right: 10px;
  }
  a {
    color: black;
  }
}

.no-places {
  width: 100%;
  position: absolute;
  left: 0;
  top: 65%;
  padding-top: 1rem;
  text-align: center;
  background-color: rgba(15,15,15,0.85);
  font-size: 0.9rem;
  color: $light-blue;
}


@media (min-width: 768px) {
  .main-container {
    background: {
      image: url('../../../assets/images/bg-medium.jpg');
      position: 50% 40%;
    }
  }
  .radio-buttons, .checkboxes {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sort, .filter {
    label {
      width: 50%;
    }
  }
  .user-info {
    display: flex;
    padding: 10px 5%;
    div {
      margin-bottom: 0;
      width: 50%;
      text-align: center;
      display: initial;
      span:first-of-type {
        margin-right: 20px;
      }
    }
    a {
      width: 50%;
      text-align: center;
    }
  }
}

@media (min-width: 1400px) {
  .main-container {
    background: {
      image: url('../../../assets/images/bg-large.jpg');
      position: 50% 40%;
    }
  }

  form {
    display: flex;
    justify-content: center;
  }

  .radio-buttons, .checkboxes {
    width: 60%;
    text-align: center;
    padding: {
      left: 15px;
      bottom: 15px;
    }
  }

  .places-container {
    width: 100%;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .place-container {
    width: 45%;
    margin: {
      right: 2%;
      left: 2%;
      bottom: 25px;
    }
  }
}
