<div class="place-card" snInViewport (inViewportChange)="onInViewportChange($event)" [@fadeIn]="cardVisible">
  <div class="name text-uppercase">{{place.name}}</div>
  <div class="info">
    <div class="rating">
      <span>{{place.rate}}</span>
      <div>popularność</div>
    </div>
    <div class="distance">
      <span>{{place.dist}} km</span>
      <div>odległość</div>
    </div>
    <div class="coordinates">
      <span>{{place.point.lat}} {{place.point.lon}}</span>
      <div>koordynaty</div>
    </div>
  </div>
  <div class="map">
    <a href={{link}} target="_blank">Zobacz na mapie Google <fa-icon [icon]="faMap" snInViewport (inViewportChange)="onInViewportChangeIcon($event)" [@headShake]="iconVisible"></fa-icon></a>
  </div>
  <hr>
  <div class="categories">{{place.kinds}}</div>
</div>
