$light-blue: #c1bfc2;
$very-light-blue: #cbd0d4;
$orange: #cf7b47;
$dusty: #b67f6c;
$almost-black: rgba(15, 15, 15);

.place-card {
  padding: 20px 10px 10px 10px;
  margin-bottom: 20px;
  text-align: center;
  background-color: rgba(15, 15, 15, 0.95);
  color: $very-light-blue;
}

.name {
  font: {
    family: 'Thasadith', sans-serif;
    weight: 700;
    size: 1.25rem;
  }
  letter-spacing: 2px;
  margin-bottom: 20px;;
}

.info {
  display: flex;
  width: 100%;

  > div {
    min-height: 125px;
    border-right: 1px black solid;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  span {
    color: $orange;
    font-size: 1.25rem;
    font-family: 'Thasadith', sans-serif;
  }
}

.rating {
  width: 35%;
}

.distance {
  width: 30%;
}

.coordinates {
  width: 35%;
  border-right: none !important;
}

.map {
  margin-top: 10px;
  a {
    color: $light-blue;
  }
  fa-icon {
    display: inline-block;
    color: $orange;
    margin-left: 5px;
  }
}

hr {
  background-color: black;
}

.categories {
  padding: 10px;
  color: $dusty;
}
