$light-blue: #c1bfc2;
$very-light-blue: #cbd0d4;
$blue: #9098a5;
$orange: #cf7b47;
$dusty: #b67f6c;
$almost-black: rgba(15, 15, 15);

.photo-bg {
  background: {
    image: url(../../assets/images/bg-small.jpg);
    position: 50% 40%;
    size: cover;
  }
  min-height: 100vh;
  width: 100vw;
}
.main-container {
  min-height: 100vh;
  width: 100vw;
  padding: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.heading {
  font-family: 'Thasadith', sans-serif;
  position: absolute;
  top: 5%;
  padding: 0 5%;
}

h5 {
  margin-top: 25px;
}

.input-wrapper {
  padding: 3%;
  background-color: rgba(15, 15, 15, 0.7);
  label {
    color: $light-blue;
  }

  input {
    text-align: center;
    background-color: $light-blue;

    &:focus {
      background-color: $very-light-blue;
      box-shadow: $orange 0 0 3px 1px;
    }
  }
}

form {
  margin-top: 15rem;
  width: 100%;
}

.validation-info {
  margin-top: 10px;
  text-align: center;
  color: $orange;
  font-size: 0.75rem;
}

button {
  margin-top: 10%;
  padding: 10px 50px;
  background-color: rgba(15, 15, 15, 0.85);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px 4px;
  color: $dusty;
  font-family: 'Poiret One', cursive;
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 5px;
  border: none;
  border-radius: 10px;

  &:active {
    background-color: rgba(15, 15, 15, 0.95);
  }
}

.info {
  position: absolute;
  bottom: 0;
  padding: 3% 10%;
  text-align: center;
  background-color: rgba(15, 15, 15, 0.95);
  color: $light-blue;
  font-size: 0.75rem;
}


@media (min-width: 768px) {
  .photo-bg {
    background: {
      image: url(../../assets/images/bg-medium.jpg);
      position: 50% 40%;
    }
  }
}

@media (min-width: 1400px) {
  .black-bg {
    background-color: rgba(0, 0, 0, 0.65);
    min-height: 100vh;
    min-width: 100vw;
  }
  .photo-bg {
    background: {
      image: url(../../assets/images/bg-large.jpg);
      position: 50% 40%;
    }
  }
  .main-container {
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    color: white;
  }

  .heading {
    position: initial;
    padding: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    h3 {
      font-size: 2.4rem;
    }
    h5 {
      font-size: 1.5rem;
      margin-top: 0;
    }
  }

  form {
    margin-top: 0;
  }
  .input-wrapper {
    margin-top: 75px;
    width: 30%;
    padding: 0;
    background-color: transparent;
    label {
      font-size: 1.2rem;
      color: white;
      font-family: 'Thasadith', sans-serif;
    }
    input {
      text-align: center;
      background-color: white;

      &:focus {
        background-color: white;
        box-shadow: $orange 0 0 4px 2px;
      }
    }
  }
  .validation-info {
    font-family: 'Thasadith', sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
  }

  button {
    margin-top: 0;
    width: 30%;
    color: black;
    background-color: $orange;
    letter-spacing: 7px;
    &:active {
      background-color: $dusty;
    }
  }
}
